/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ______     ______     __  __     ______   ______     ______     __    __    
/\  == \   /\  __ \   /\_\_\_\   /\__  _\ /\  ___\   /\  __ \   /\ "-./  \   
\ \  __<   \ \ \/\ \  \/_/\_\/_  \/_/\ \/ \ \  __\   \ \  __ \  \ \ \-./\ \  
 \ \_\ \_\  \ \_____\   /\_\/\_\    \ \_\  \ \_____\  \ \_\ \_\  \ \_\ \ \_\ 
  \/_/ /_/   \/_____/   \/_/\/_/     \/_/   \/_____/   \/_/\/_/   \/_/  \/_/ 

	AnimWait - style.css
	
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						DO NOT DELETE

				WHERE YOU HAVE A COMMENT !-C-! 
		THAT MEAN YOU CAN CHANGE THE VALUE OR ADD NEW :)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* --------------------------------------------------------------- 
// GENERAL
--------------------------------------------------------------- */

html {
	margin : 0;
	padding: 0;
	overflow-y : scroll;
	overflow-x : hidden;
}

body {
	width    : 100%;
	margin   : 0;
	padding  : 0;
	background-color: #fff; /*-------------!-C-! */
}

/* --------------------------------------------------------------- 
// LOADING
--------------------------------------------------------------- */

#aw-load {
	position  : absolute;
	width     : 100%;
	min-height: 100%;
	top       : 0;
	
	z-index : 12;

	/*-------------!-C-! */
}

#aw-load-img {
	width: 60px; /*-------------!-C-! */
}

/* --------------------------------------------------------------- 
// FLAPS
--------------------------------------------------------------- */

#aw-flap-one {
	position        : fixed;
	width           : 100%;
	height          : 50%;

	background-color: #95A5A6; /*-------------!-C-! */
	
	z-index: 11;
	display: none;

	/*-------------!-C-! */
}

#aw-flap-two {
	position        : fixed;
	width           : 100%;
	height          : 50%;

	background-color: #95A5A6; /*-------------!-C-! */
	
	z-index: 11;
	display: none;

	/*-------------!-C-! */
}

/* --------------------------------------------------------------- 
// BLOCKS
--------------------------------------------------------------- */

/* Container 
------------------ */
.aw-container {
	width    : 100%; /*-------------!-C-! */
	max-width: 1080px; /*-------------!-C-! */
	margin   : 40px auto 0 auto; /*-------------!-C-! */
	/*-------------!-C-! */
}

/* Blocks 
------------------ */
div[id^="aw-block"] {
	position        : absolute;
	width           : 100%;
	min-height      : 100%;
	top             : 0;
}

#aw-block-one { 
	display: none;
	z-index: 10;
	/*-------------!-C-! */
}

#aw-block-two {
	display: none;
	z-index: 10;
	/*-------------!-C-! */
}

#aw-block-three {
	display: none;
	z-index: 10;
	/*-------------!-C-! */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				FROM HERE YOU CAN CHANGE / DELETE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
	font-family: Arial;
}

p {
	text-align: center;
}

h1, h2 {
	text-align: center;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #3498DB

	transition-duration: 0.5s;
}

a:hover {
	color: #2C3E50
}

.aw-img{
	display: block;
	width  : 360px;
	margin : 10px auto;
}

.aw-center {
	margin    : 10px auto;
	text-align: center;
}

span[id^="aw-bouton"], span[id^="aw-return"], .bouton {
	display         : inline-block;
	padding         : 10px 40px;
	text-align      : center;
	text-decoration : none;
	background-color: #3498DB;
	color           : #fff;
	border-bottom   : 3px solid #2C3E50; 

	transition-duration : 0.3s;
}

span[id^="aw-bouton"]:hover, span[id^="aw-return"]:hover, .bouton:hover {
	background-color: #2C3E50;
	color: #fff;
	cursor: pointer;
}

