body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Tahoma;
	font-weight: 300;
}

aside {
	position: fixed;
	width: 15%;
	height: 100%;
	background-color: #141414;
	color: #fff;
}

aside h1 {
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
	margin: 40px auto 20px auto;
}

aside h2 {
	font-size: 1.1em;
	text-align: center;
	font-weight: 300;
	margin: 0 auto 40px auto;
	color: #95A5A6;
}

aside h3 {
	font-size: 1.1em;
	margin: 0 auto;
	font-weight: 300;
	padding: 0 0 5px 20px;
	border-bottom: 1px dashed #2C3E50
}

aside ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px 0;
}

aside li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #2C3E50;
	font-size: 0.9em;
}

aside li a {
	color: #fff;
	display: block;
	width: 80%;
	padding: 5px 10%;
	text-decoration: none;
	transition-duration : 0.6s;
}

aside li a:hover {
	background-color: #34495E;
	padding: 5px 0 5px 20%;
}

section {
	margin: 0 10% 0 20%;
	padding-top : 10px;
	width: 100%;
	max-width: 70%;
}

section h2 {
	color: #34495E;
	font-weight: 500;
	font-size: 3.5em;
	display: block;
	text-align: center;
}

section h3 {
	color: #2980B9;
	font-size: 2.8em;
	border-bottom: 1px solid #111111;
	display: block;
	font-weight: 500;
}

article p {
	font-size: 1.1em;
}

article h3 {
	color: #95A5A6;
	font-weight: 500;
	font-size: 2.5em;
	display: block;
	border-bottom: 1px dashed #111111;
}

article h4 {
	color: #95A5A6;
	font-size: 1.8em;
	font-weight: 400;
	display: block;
	width: 50%;
	border-bottom: 1px dashed #111111;
}

article img {
	max-width: 100%;
	margin: 10px auto;
}

article ul {
	font-size: 1.1em;
}

article a {
	text-decoration: none;
	font-weight: 700;
	color: #3498DB;

	transition-duration : 0.8s;
}

article a:hover {
	color: #34495E;
}

pre {
	width: 95%;
	border-radius: 10px;
	padding: 20px 10px ;
	background-color: #2C3E50;
	margin: 0 auto;
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre.html{
	color: #F1C40F;
}
pre.css, span.css{
	color: #59ABE3;
}
pre.js, span.js{
	color: #68C3A3;
}

span.html{color: #E67E22}
span.comment{color: #BDC3C7;}
span.id{color: #D24D57;}
span.class{color: #019875;}
span.content{color: #fff;}
span.file{text-decoration: underline; color: #6C7A89;}
span.function{color: #D2527F;}
span.param{color: #F1A9A0;}
span.val{color:#F4D03F;}
span.var{color:#16A085;}

.separator{
	margin: 40px 0 0 0;
	height: 10px;
	border-bottom: 1px dotted #7F8C8D;
	border-top: 1px dotted #7F8C8D;
	color: #7F8C8D;
}

.two-cols {
	float: left;
	width: 48%;
	margin-right: 2%;
}

.clear {
	clear: both;
}
